__pycache__/
*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

*.mo
*.pot

docs/_build/

target/

*.log
*.pot
*.pyc
local_settings.py

.env
db.sqlite3
#myproject/settings_dev.py
#myproject/settings_prod.py
#myproject/settings.py
#myproject/settings_shared.py

